html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  padding: 0.2px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #e5e5e5; }

.contenedor__menu {
  max-width: 2000px;
  width: 100%;
  /*background: linear-gradient(#1b1b1e, black);*/
  background: black;
  height: 80px;
  border-radius: 0px 0px 23px 23px;
  box-shadow: 0px 6px 25px -2px rgba(0, 0, 0, 0.75); }
.contenedor__menu .logo {
  color: white;
  font-size: 3.5rem;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  animation-name: aparecer;
  animation-duration: 5s; }
.contenedor__menu .logo:hover a{
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
  .contenedor__menu ul {
    float: right;
    margin-right: 20px; }
  .contenedor__menu li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px; }
  .contenedor__menu li a {
    color: white;
    font-size: 2.4rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase; }
  .contenedor__menu li:hover {
    transform: scale(1.2);
    transition: 0s,1s; }
  .contenedor__menu li a:hover {
    color: #faaa16d5;}
  .contenedor__menu .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;}
  .contenedor__menu #checkbtn {
    display: none; }
  .contenedor__menu #check {
    display: none; }
  .contenedor__menu a, .contenedor__menu a:hover, .contenedor__menu a:focus {
    text-decoration: none;
    color: white; }

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: "Teko", sans-serif;
  max-width: 1920px;
  min-height: 820px;
  width: 100%;
  height: 100%; }
  .contenedor .contenedor__contenidox {
    max-width: 1900px;
    width: 100%;
    height: 100%;
    margin-top: 20px; }
.contenedor .contenedor__contenidox .contenido__video--principal {
  width: 100%;
  height: auto;}
.contenedor .contenedor__contenidox .contenido__video--principal .video_principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 47px 154px -45px rgba(0, 0, 0, 0.73);
  box-shadow: 0 0 0 0 black;
  animation: pulse 2s infinite; }
.contenedor .contenedor__contenidox .contenido__video--principal .video_principal .video{
  width: 100%;
  border-radius: 12px 12px 12px 12px;
  }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } }
.contenedor .contenedor__contenidox .contenido__video--principal .video_responsive video{
  display: none;
  border-radius: 12px 12px 12px 12px;
}
.contenedor .contenedor__contenidox .contenido__video--principal .video__title--END h1 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin: 30px 0px 30px 0px; }


.contenedor .contenedor__contenidox .word__carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  text-align: left;
  margin: 60px 0px 0px 0px;
  color: rgb(0, 0, 0);}
.contenedor .contenedor__contenidox .word__carousel .carousel__li {
  overflow: hidden;
  text-align: center;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;}
.contenedor .contenedor__contenidox .word__carousel .carousel__li li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  color: rgb(7, 7, 7);
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;}

.flip2 { animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip3 { animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip4 { animation: flip4 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip5 { animation: flip5 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip6 { animation: flip6 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip7 { animation: flip7 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }
.flip8 { animation: flip8 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite; }

@keyframes flip2 {
    0% { margin-top: -180px; }
    5% { margin-top: -90px;  }
    50% { margin-top: -90px; }
    55% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip3 {
    0% { margin-top: -270px; }
    5% { margin-top: -180px; }
    33% { margin-top: -180px; }
    38% { margin-top: -90px; }
    66% { margin-top: -90px; }
    71% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip5 {
    0% { margin-top: -450px; }
    5% { margin-top: -360px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}

@keyframes flip6 {
  0% { margin-top: -540px; }
  5% { margin-top: -450px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip7 {
  0% { margin-top: -630px; }
  5% { margin-top: -540px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}

@keyframes flip8 {
  0% { margin-top: -720px; }
  5% { margin-top: -630px; }
  25% { margin-top: -270px; }
  30% { margin-top: -180px; }
  50% { margin-top: -180px; }
  55% { margin-top: -90px; }
  75% { margin-top: -90px; }
  80% { margin-top: 0px; }
  99.99% { margin-top: 0px; }
  100% { margin-top: -270px; }
}
    body:after {
        content:"";
        display: block;
        position: absolute;
        z-index: -1;
        transform: rotate(20deg);
        border-radius: 50%;
    }

.contenedor .contenedor__contenidox .DivPrueba{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;  
  width: 100%;
  margin-top: 10px;
}
.contenedor .contenedor__contenidox .DivPrueba a{
  font-size: 2.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.contenedor .contenedor__contenidox .DivPrueba a:hover {
  color: #c57409;
}
.contenedor .contenedor__contenidox .DivPrueba .a,.b,.c,.d,.e,.f,.g .icon__prueba{
  padding:5px;
  font-size: 6rem;
  color: #222121;
}

.contenedor .contenedor__contenidox .DivPrueba .a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:  15%;
  height: 50%;
  background-color: grey;
  border-radius: 10px 0px 0px 10px;
}

.contenedor .contenedor__contenidox .DivPrueba .b{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:  15%;
  height: 50%;
  background-color: black;
}

.contenedor .contenedor__contenidox .DivPrueba .c{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50%;
  background-color: grey;
}

.contenedor .contenedor__contenidox .DivPrueba .d{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50%;
  background-color: black;
}

.contenedor .contenedor__contenidox .DivPrueba .e{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50%;
  background-color: grey;
}

.contenedor .contenedor__contenidox .DivPrueba .f{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50%;
  background-color:black;
  border-radius: 0px 10px 10px 0px;
}

.contenedor .contenedor__contenido {
  max-width: 1800px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }
  .contenedor .contenedor__contenido h1 {
    color: rgba(0, 0, 0, 0.76);
    font-size: 2.8rem;
    font-weight: bold;
    box-shadow: 0px 47px 154px -45px rgba(0, 0, 0, 0.801);}
  .contenedor .contenedor__contenido .contenido__info-center {
    text-align: left;
    flex-wrap: nowrap; }
    .contenedor .contenedor__contenido .contenido__info-center h3 {
      color: black;
      font-size: 1.8rem; }
    .contenedor .contenedor__contenido .contenido__info-center h5 {
      color: black;
      font-size: 2rem; }
    .contenedor .contenedor__contenido .contenido__info-center .info__carousel-text {
      width: 100%;
      max-width: 1400px;
      margin: 2px; }
    .contenedor .contenedor__contenido .contenido__info-center .info__carousel-text img {
      height: 400px;
      width: 100%;
        border-radius: 31px; }
    .contenedor .contenedor__contenido .contenido__info-center .info__carousel-text .imgnormalizada  {
        display: block;
        width: 100%;
        height: 400px;
        }
    .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text {
      width: 100%;
      max-width: 1400px;
      margin: 2px 2px 2px 0px;
      padding: 5px; }
      .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text div {
        border-radius: 31px; 
        box-shadow: 0px 6px 25px -2px rgba(0, 0, 0, 0.26);}
        .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text div p {
          font-size: 1.5rem;
          font-family: "Open Sans", sans-serif;
          text-align: justify; }
      .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text h3 {
        color: rgb(216, 215, 215);
        font-size: 1.8rem; }
      .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text h3:hover {
        color: #413d36d5;
      }
      .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text button {
        background: linear-gradient(338deg, rgba(24,24,24,1) 0%, rgba(17,16,16,1) 35%, rgba(44,45,45,1) 100%);
        width: 35%;
        border-radius: 100px;
        display:flex;
        justify-content: center;
        align-items: center;}
  .contenedor .contenedor__contenido .contenido__tabla {
    text-align: left;
    font-size: 2rem; }
    .contenedor .contenedor__contenido .contenido__tabla h2 {
      color: black;
      font-size: 2.5rem;
      font-weight: bold; }
    .contenedor .contenedor__contenido .contenido__tabla i {
      font-size: 1.8rem; }
    .contenedor .contenedor__contenido .contenido__tabla .tabla__calendario-text {
      text-align: center;
      list-style-type: none;
      background-color: rgba(0, 0, 0, 0.267);
      width: 100%;
      height: auto;
      margin-top: 1rem;
      border: black;
      padding: 10px;
      animation-name: aparecer;
      animation-duration: 6s; }
      .contenedor .contenedor__contenido .contenido__tabla .tabla__calendario-text td {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
    .contenedor .contenedor__contenido .contenido__tabla .tabla__calendario-text2 {
      text-align: center;
      list-style-type: none;
      background-color: rgba(0, 0, 0, 0.267);
      width: 100%;
      height: auto;
      margin-top: 1rem;
      border: black;
      padding: 10px;
      animation-name: aparecer;
      animation-duration: 6s; }
      .contenedor .contenedor__contenido .contenido__tabla .tabla__calendario-text2 td {
        font-family: "Open Sans", sans-serif;
        font-size: 1.5rem; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
      .contenedor .contenedor__contenido .contenido__tabla .tabla__calendario-text2 td ul li {
        list-style-type: none; }
    .contenedor .contenedor__contenido .contenido__tabla .calendario__text-color {
      background: #222121;
      color: white; }
  .contenedor .contenedor__contenido .contenido_contacto-text h2 {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center; }
  .contenedor .contenedor__contenido .contenido_contacto-text p {
    font-size: 2rem;
    text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

.contenedor .contenedor__contenido .contenido__menu-img {
  padding: 10px;
  margin: 10px;
  background-color: #0c0c0ce8;
  border-radius: 10px 32px 10px 38px;
  box-shadow: 13px 2px 29px -9px rgba(0, 0, 0, 0.75);
  animation-name: aparecer;
  width: 100%; }

.contenedor .contenedor__contenido .contenido__menu-img {
  display: flex;
  justify-content: center;
  align-items: center;
  }
.contenedor .contenedor__contenido .contenido__menu-img .menu__img-img{
  width: 40%;
  border-radius: 0px 10px 10px 0px;
}
.contenedor .contenedor__contenido .contenido__menu-img .menu__img-txt {
  width: 51%; 
  border-radius: 10px 0px 0px 10px;}

.contenedor .contenedor__contenido .contenido__menu-img:hover {
  transform: scale(1.05);
  transition: 0s,0.5s; 
  box-shadow: 13px 2px 29px -9px rgba(231, 178, 2, 0.75);}

.contenedor .contenedor__contenido .contenid__rappi-div {
  width: 60%;
  background: rgba(63, 63, 63, 0.76);
  border-radius: 10px;
  margin: 40px;}

.contenedor .contenedor__contenido .contenid__rappi-div img:hover{
  transform: scale(1.02);
  transition: 0s,0.7s; 
  box-shadow: 13px 2px 29px -9px rgba(240, 118, 4, 0.75);
}

.contenedor .contenedor__contenido .contenid__rappi-div h1 {
  background-color: rgba(255, 255, 255, 0.945);
  text-align: center;
  font-size: 3rem; 
  border-radius: 10px;}
.contenedor .contenedor__contenido .contenid__rappi-div .menu__pedidos-a {
  margin: 10px;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 6px 25px -2px rgb(0 0 0 / 46%);}

.contenedor .contenedor__contenidoz {
  max-width: 1500px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  text-align: center; }
  .contenedor .contenedor__contenidoz h1 {
    color: rgba(0, 0, 0, 0.76);
    font-size: 2.8rem;
    font-weight: bold;
    box-shadow: 0px 47px 154px -45px rgba(0, 0, 0, 0.801); }
  .contenedor .contenedor__contenidoz .aticulo__principal-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #fca211e7;
    border-radius: 31px 31px 31px 31px;
    animation-name: aparecer;
    animation-duration: 2s; }
    .contenedor .contenedor__contenidoz .aticulo__principal-center p {
      font-size: 1.5rem;
      text-align: justify; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
    .contenedor .contenedor__contenidoz .aticulo__principal-center .articulo__principal-text {
      padding: 2px;
      font-size: 2px;
      width: 50%;
      text-align: justify; }
    .contenedor .contenedor__contenidoz .aticulo__principal-center .articulo__img-principal {
      height: auto;
      width: 42%;
      margin: 30px;
      border-radius: 10px; }

.contenedor .contenido__iframe-map {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 10px;
  padding: 10px;
  animation-name: aparecer;
  animation-duration: 1s; }

@keyframes aparecer {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }
  .contenedor .contenido__iframe-map .iframe__div {
    margin: 10px,0,10px,10px;
    padding: 10px; 
    }
  .contenedor .contenido__iframe-map .contenido__info-text {
    width: 55%;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    text-align: left;
    list-style-type: none; }
  .contenedor .contenido__iframe-map .contenido__info-text .info__title-text {
    font-size: 2.5rem;
    padding: 10px;
    background-color: black;
    color: white; }
  .contenedor .contenido__iframe-map .contenido__info-text .info__p-text p {
    text-align: justify;
    background-color: rgba(51, 50, 50, 0.336);
    margin: 0px;
    padding: 10px; }
.FB {
  color: #c57409; }
  
.TF {
  color: #c57409; }

.FQ {
  color: #c57409; }

.contenedor__footer {
  margin-top:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1900px;
  width: 100%;
  /*background: linear-gradient(#dd991b, #da8e02);*/
  background: #dd991b;
  border-radius: 23px 23px 0px 0px;
  box-shadow: 0px 6px 25px -2px rgba(0, 0, 0, 0.75); }
  .contenedor__footer .footer___derechos-text {
    margin: 10px;
    padding: 6px;
    font-size: 2rem;}
  .contenedor__footer .redes__titulo-bold {
    color:rgb(15, 15, 15);
    font-size: 2.5rem;
    margin-top: 15px}
  .contenedor__footer .iconos__redes-img {
    min-width: 36.4px;
    width: 3%;
    padding: 10px;
    margin: 5px;
    height: auto; }
  .contenedor__footer .iconos__redes-img:hover {
    background-color:grey;
    border-radius: 30%;}

@media only screen and (max-width: 1440px) {
  .contenedor .contenedor__contenido .reserva__info-text {
    margin: 10px 10px 10px 50px; }
    .contenedor .contenedor__contenido .reserva__info-text p {
      font-size: 2rem; }
  .contenedor .contenedor__contenidoz .aticulo__principal-center .articulo__img-principal {
    width: 42%; } }

@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 30px;
    padding-left: 50px; }
  .contenido__info-center {
    flex-wrap: wrap; }
  .contenedor__contenidox {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center; }
  .contenedor .contenedor__contenido .contenido__reserva-center {
    flex-wrap: wrap; }
  .contenedor .contenedor__contenido .contenido__reserva-center .cartas h5 {
    font-size: 2.3rem; }
  .contenedor .contenedor__contenidoz .aticulo__principal-center .articulo__img-principal {
    width: 100%; }
  .contenedor .contenido__iframe-map {
    flex-wrap: wrap; }
  .contenedor .contenido__iframe-map .contenido__info-text {
    width: 100%; } }

@media only screen and (max-width: 800px) {
  body {
    z-index: 0; }
  .contenedor {
    z-index: 1; }
  main {
    z-index: 2; }
  .contenido__info-center {
    z-index: 3; }
  .contenedor__menu {
    text-align: left;
    z-index: 4; }
  .checkbtn {
    align-items: center; }
  .contenedor__menu #checkbtn {
    display: block; }
  .contenedor__menu ul {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.938);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    line-height: 30px;
    z-index: 1; 
    border-radius: 10px 10px 50px 50px;}
  .contenedor__menu ul li {
    display: block; 
    line-height: 50px;}
  .contenedor__menu ul li:hover { 
    width:100%;
    background: #f88d02a6 ;
    transform: none;
    transition: none; }
  .contenedor__menu ul li a {
    font-size: 20px; }
  .contenedor__menu li a:hover {
    color: rgb(196, 196, 196);}
  #check:checked ~ ul {
    left: 0; }
  .contenedor .contenedor__contenidox .contenido__video--principal .video_principal video{
    display: none;
  }
  .contenedor .contenedor__contenidox .contenido__video--principal .video_principal{
    box-shadow: none;
    animation:none;
  }
  .contenedor .contenedor__contenidox .contenido__video--principal .video_responsive video{
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 47px 154px -45px rgba(0, 0, 0, 0.73);
    box-shadow: 0 0 0 0 black;
    animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); }
      70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
      100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); } 
    }
  .contenedor .contenedor__contenidox .word__carousel .carousel__li{
    margin-left: 10px;
  }
  .contenedor .contenedor__contenidox .DivPrueba a{
    font-size: 1.5rem;
  }
  .contenedor .contenedor__contenidox .DivPrueba .a,.b,.c,.d,.e,.f,.g .icon__prueba{
    font-size: 2.5rem;
  }
  .contenido__info-center {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; }
    .contenido__info-center h3 {
      font-size: 1.8rem; }
  .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text {
    margin: 10px 5px 5px 10px; }
    .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text div {
      border-radius: 31px; }
  .contenido__tabla {
    width: 100%; }
  .contenedor .contenedor__contenidoz .aticulo__principal-center {
    border-radius: 30px 30px 30px 30px; }
    .contenedor .contenedor__contenidoz .aticulo__principal-center p {
      font-size: 1.4rem;
      text-align: center; }
  .contenedor .contenido__iframe-map .contenido__info-text .info__p-text p {
    text-align: center; 
    padding: 0px;}
  .contenedor .contenedor__contenidoz .aticulo__principal-center .articulo__principal-text{
    width:90%;
  }
}

@media only screen and (max-width: 470px) {

.contenedor__menu .logo {
    font-size: 3.5rem;
    padding: 0 0px; }
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width:100%;}
  .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text button{
    width: 60%;
  }
  .contenedor__footer .footer___derechos-text {
    font-size: 1.6rem; }
  .contenedor__footer .redes__titulo-bold {
    font-size: 2rem; }
  .contenedor .contenedor__contenido .contenido__tabla h2 {
    font-size: 2.2rem; }
  .contenedor .contenedor__contenido .contenido_contacto-text p {
    font-size: 1.8rem; }
  .contenedor .contenedor__contenido .reserva__info-text p{
    font-size: 1.4rem; }
  .contenedor .contenedor__contenido .reserva__info-text {
    margin: 10px; }
  .contenedor .contenedor__contenido .contenido__info-center .info__acordion-text div p {
    font-size: 1.3rem; }
  .contenedor .contenedor__contenido .contenid__rappi-div h1{
    font-size: 2.2rem;
  } 
  .contenedor .contenedor__contenidox .word__carousel {
    flex-direction: column;
}
.contenedor .contenedor__contenidox .DivPrueba a{
  font-size: 1rem;
}
.contenedor .contenedor__contenidox .DivPrueba .a,.b,.c,.d,.e,.f,.g .icon__prueba{
  font-size: 2rem;
}
}
